<!-- EUROC DATASET -->
<launch>
    <!-- UW-SLAM main thread-->
    <node pkg="uw_slam" type="main_uw_slam" name="main"  
        args="-d /home/lujano/Documents/V1_01_easy/mav0/cam0/data/
              -c /home/lujano/catkin_ws/src/uw-slam/calibration/calibrationEUROC.xml
              --EUROC /home/lujano/Documents/V1_01_easy/mav0/vicon0/data.csv   
              -s 210
              "
        clear_params="true" 
        output="screen"/>
        
    <!-- Rviz visualizer-->
    <node pkg="rviz" type="rviz" name="rviz"/>
</launch>
