<!-- EUROC DATASET -->
<launch>
    <!-- UW-SLAM main thread-->
    <node pkg="uw_slam" type="main_uw_slam" name="main"  
        args="-d /home/fabiomorales/Documents/datasets/EUROC/V1_02_medium/mav0/cam0/data/
              -c /home/fabiomorales/catkin_ws/src/uw-slam/calibration/calibrationEUROC.xml
              --EUROC /home/fabiomorales/Documents/datasets/EUROC/V1_02_medium/mav0/vicon0/data.csv   
              -s 210
              "
        clear_params="true" 
        output="screen"/>
        
    <!-- Rviz visualizer-->
    <node pkg="rviz" type="rviz" name="rviz"/>
</launch>