<!-- TUM RGBD DATASET -->
<launch>
    <!-- UW-SLAM main thread-->
    <node pkg="uw_slam" type="main_uw_slam" name="main"  
        args="-d    /home/lujano/Documents/rgbd_dataset_freiburg2_xyz/rgb/
              -c    /home/lujano/catkin_ws/src/uw-slam/calibration/calibrationTUM.xml
              --TUM /home/lujano/Documents/rgbd_dataset_freiburg2_xyz/groundtruth.txt
              -s 210
              "
        clear_params="true" 
        output="screen"/>
        
    <!-- Rviz visualizer-->
    <node pkg="rviz" type="rviz" name="rviz"/>
</launch>
