<launch>
    <!-- UW-SLAM main thread-->
    <node pkg="uw_slam" type="main_uw_slam" name="main"  
        args="-d /home/fabio/Documents/datasets/EUROC/V1_02_medium/mav0/cam0/data/
              -g /home/fabio/Documents/datasets/EUROC/V1_02_medium/mav0/vicon0/data.csv        
              -s 100"
        clear_params="true" 
        output="screen"/>
        
    <!-- Rviz visualizer-->
    <node pkg="rviz" type="rviz" name="rviz"/>
</launch>
