<launch>
    <!-- UW-SLAM main thread-->
    <node pkg="uw_slam" type="main_uw_slam" name="main"  
        args="-d <directory of images files>
              -c <directory of calibration.xml file> 
              -s <number of starting frame>
              "
        clear_params="true" 
        output="screen"/>
        
    <!-- Rviz visualizer-->
    <node pkg="rviz" type="rviz" name="rviz"/>
</launch>